.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.flextop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: tomato;*/
    width:100%;
    margin-top: 10px;

}
th{
    background-color: #3F51B5;
    color: whitesmoke;
}

th,td{
    padding: 20px !important;
}
th:first-of-type,td:first-of-type{
    padding-left: 60px !important;
}
.btn{
    width: 500px;;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}